.target {
  width: 700px;
  height: 700px;
  border: 1px solid #111;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 30px;
  margin: 16px;
}
.target.green {
  background: green;
}
.target.yellow {
  background: yellow;
}
.target.red {
  background: red;
}
